<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/example.css">

  <script src="/static/example.js"></script>

  <title>Fun With Random Info</title>
</head>

<body>
  <h1 class="my-class" id="hello">
    Hello World!
  </h1>

  <h2 class = "red" id = "randomnumber">
    What Type of Random Information Would You Like?
  </h2>
  <p class="center-para">
    {{someText}}
  </p>

  <a class="center-para" href="/randborn">
    <button>
      Birth Information
    </button>
  </a>

  &nbsp &nbsp &nbsp
  
  <a class="center-para" href="/randtrolling" >
    <button>
      Surprise
    </button>
  </a>

  &nbsp &nbsp &nbsp

  <p class="center-para">
    Color: <input id="user-color"> <br> <br>=
    <button class="big-button" onclick="changeColor()">
       I hate the color! Change one!
    </button>
    </p>

</body>
</html>